<html>
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
		<meta property="fb:app_id"       content="1512783212267771" />
		<meta property="og:type"         content="website" />
		<meta property="og:url"          content="http://rrgames.me:3000/replay_viewer?id=<%=@id%>&rid=<%=@rid%>" />
		<meta property="og:title"        content="Poosha! Poosha! 리플레이" />
		<meta property="og:image"        content="http://JJoriping.ufree.kr/image/trademark.png" />
		<meta property="og:video"		content="https://rrgames.me:3000/client/viewer.swf?id=<%=@id%>&rid=<%=@rid%>" />
		<meta property="og:video:type"	content="application/x-shockwave-flash" />
		<meta property="og:video:width"		content="470" />
		<meta property="og:video:height"		content="270" />
		<meta property="og:description"  content="65536" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>삽질</title>
<script>/*
VideoData.content = "https://rrgames.me:3000/viewer/player.html?rid="+location.href.slice(location.href.indexOf("rid=")+4);*/
</script>
	</head>
	<body>
		<div id="fb-root"></div>
	</body>
</html>
